# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# resources
/resources

# had to switch to py3.6 for whatever reason
/venv

# videos, problem sets and textbooks (just incase)
*.mp4
*.pdf
*.zip

#pycharm settings
*.idea
